@import url(/bootstrap/css/bootstrap.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

// settings
$font: Comfortaa, Display;
$font2: Literata, serif;
$background: linear-gradient(0deg, rgb(255,10,100) 10%, rgb(252,252,0) 92%);
$background2: #e7e7e7;
$box-background: rgb(206, 206, 206);
$button-contact: rgb(230, 230, 230);
$h1_size: 40px;
$h2_size: 25px;
$h3_size: 20px;
$p_size: 17px;
$text-color1: #111518;

// - end of settings -

body{
    background: #212529;
    color: #e7e7e7;
    font-family: $font;
}

.myName{
    text-decoration: none;
    font-family: $font;
    color: #111518;
    font-weight: 700;
    padding-right: 3%;
}

.navbar-brand{
    padding-left: 2%;
}

nav{

    :hover{
        //font-weight: 700;
        color: yellow;
    }
}

.box{
    padding: 3%;
    padding-top: 5%;

    #box-info{
        color: yellow;
    }

    .box-info2{
        padding-right: 15%;

        span{
            background-color: yellow;
            color: #111518;
            padding: .5%;
        }
    }
}

.btn-contact{
    padding-left: 3%;

    a{
        text-decoration: none;
        color: #111518;
        font-weight: 500;
        font-size: 17px;
        background-color: $background2;
        padding: 1%;
        border-radius: 8px;
    }

    :hover{
        background-color: yellow;
        color: #111518;
        box-shadow: 8px 8px #111518;
    }
}

#footer{

    p{
        font-family: $font2;
        //position: fixed;
        position: relative;
        left: 0;
        bottom: -15px;
        width: 100%;
        color: #e7e7e7;
        text-align: left;
        //padding: 2%;
        text-decoration: none;
        font-size: 14px;
        bottom: 0;
        padding-top: 10%;
    }
}

@media screen and (max-width: 900px) {

    .box{
        .box-info2{
            padding-right: 0;
        }
    }
    
    .btn-contact{

        a{
            padding: 10px;
            border-radius: 8px;
        }
    }

    #footer{
        
        p{
            font-size: 12px;
        }
    }
}