@import url(/bootstrap/css/bootstrap.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


// settings
$font: Comfortaa, Display;
$font2: Literata, serif;
$background: linear-gradient(0deg, rgb(255,10,100) 10%, rgb(252,252,0) 92%);
$background2: #e7e7e7;
$box-background: rgb(206, 206, 206);
$button-contact: rgb(230, 230, 230);
$h1_size: 40px;
$h2_size: 25px;
$h3_size: 20px;
$p_size: 17px;
$text-color1: #111518;
// - end of settings -


body{
    background-color: $background2;
    //background: #212529;
    color: #111518;
    font-family: $font;
}

.myName{
    text-decoration: none;
    font-family: $font;
    color: #111518;
    font-weight: 700;
    padding-right: 3%;
}

.navbar-brand{
    padding-left: 2%;
}

nav{

    :hover{
        //font-weight: 700;
        color: #212529;
    }
}

.box{
    padding: 3%;
    padding-top: 5%;
    cursor: default;

    #box-info{
        color: #111518;
    }

    .box-info2{
        padding-right: 15%;
        //color: #e7e7e7;

        span{
            background-color: rgb(51, 51, 51);
            color: #e7e7e7;
            padding: .4%;

            :hover{
                background-color: yellow;
                color: #111518;
            }
        }
    }
}

.btn-contact{
    padding-left: 3%;

    a{
        text-decoration: none;
        color: #111518;
        font-weight: 500;
        font-size: 17px;
        background-color: $background2;
        padding: 1%;
        border-radius: 8px;
        border-width: 2px;
        border-style: solid;
        border-color: #212529;
    }

    :hover{
        border-width: 0;
        background-color: yellow;
        color: #111518;
        box-shadow: 8px 8px #111518;
    }
}

#footer{

    p{
        font-family: $font2;
        //position: fixed;
        position: relative;
        left: 0;
        bottom: -15px;
        width: 100%;
        color: #e7e7e7;
        text-align: left;
        //padding: 2%;
        text-decoration: none;
        font-size: 14px;
        bottom: 0;
        padding-top: 10%;
    }
}

#cardBox{
    align-content: center;
}

#card{
    margin: 2%;
}

.cardIn{
    height: 440px;
    width: 380px;
    margin: 2%;
    background-color: $background2;
    border-radius: 8px;
    box-shadow: 8px 8px #111518;
    border-color: yellow;
    border-width: 1px;
    border-style: solid;

    img{
        width: 100%;
        z-index: 2;
        margin-top: -18px;
        object-fit: fill;
    }

    //text
    h1{
        color: $text-color1;
        text-align: center;
        padding: 20px;
    }

    p{
        color: $text-color1;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 1;
        margin-top: 5px;
    }
}

.alert{
    text-align: center;
}

@media screen and (max-width: 900px) {

    .box{
        .box-info2{
            padding-right: 0;
        }
    }
    
    .btn-contact{

        a{
            padding: 10px;
            border-radius: 8px;
        }
    }

    #footer{
        
        p{
            font-size: 12px;
        }
    }
}

//animation
/*body {
    background-color: #212529;
    margin: 0;
    overflow-x: hidden;
  }*/
  
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .5s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }